html {
  font-family: sans-serif;
}

.day-table {
  border-collapse: collapse;
}

.day-table .day-column-head, .day-table .day-exercise-cell {
  border: 1px solid #ccc;
  padding: 5px;
}

.day-table .day-column-head {
  background: #eee;
}
