<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- temporary development stylesheet - basic borders, etc. -->
    <link rel="stylesheet" href="./src/assets/css/program-builder.css">
    <title>Program Builder</title>
  </head>
  <body>

    <div id="program-builder" class="program-builder">
        
        <loaded-program 
          v-bind:program="loadedProgram" 
          v-if="programLoaded == true"
          v-on:remove-object="removeObject"
        ></loaded-program> 

        <div class="add-exercise-input-panel" v-if="newExercise.active == true">
          <input type="text" v-model="newExercise.name" placeholder="name" />
          <input type="text" v-model="newExercise.sets" placeholder="sets" />
          <input type="text" v-model="newExercise.reps" placeholder="reps" />
          <input type="text" v-model="newExercise.weight" placeholder="weight" />
          <input type="text" v-model="newExercise.note" placeholder="note" />

          <button v-if="newExercise.mode == 'add'" v-on:click="addExerciseToDay">Add</button>
          <button v-else-if="newExercise.mode == 'update'" v-on:click="updateExercise">Update</button>
          
          <button v-on:click="closeExercisePanel">Close</button>
      </div>

  </div>

  <script src="/dist/build.js"></script>

</body>
</html>
