$base-text-color: rgba(0, 0, 0, 0.87);
$secondary-text-color: rgba(0, 0, 0, 0.54);
$hint-text-color: rgba(0, 0, 0, 0.38);

$active-icon-color: rgba(0, 0, 0, 0.54);
$inactive-icon-color: rgba(0, 0, 0, 0.38);
